.colourA{
    color: #009999;
}

.bgcolourA{
    background-color: #009999;
}

.colourB{
    color: #f2a900;
}

.bgcolourB{
    background-color: #f2a900;
}

.colourC{
    color: #7e7e7e;
}

.bgcolourC{
    background-color: #7e7e7e;
}

.colourD{
    color: #fff;
}

.bgcolourD{
    background-color: #fff;
}

.colourE{
    color: #272727;
}

.bgcolourE{
    background-color: #272727;
}




